<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title><%= locals.title %></title>
   
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">To Do List</h1>
      <form class="form" action="/create-task" method="post">
        <div class="description">
          <label>Description</label>
          <input
            type="text"
            name="description"
            id="description"
            placeholder="Enter your task."
  
          />
        </div>
        <div class="other-desc-box">
          <div class="category">
            <label for="category" class="lbl-category">CATEGORY</label>
            <select name="category" id="category" class="category-dropdown">
              <option value="personal">Personal</option>
              <option value="work">Work</option>
              <option value="school">School</option>
              <option value="cleaning">Cleaning</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="dueDate">
            <label for="dueDate" class="lbl-duedate">DUE DATE</label>
            <input
              type="date"
              name="dueDate"
              id="dueDate"
              class="dueDate-select"
            />
          </div>
        </div>
        <div class="btn-container">
          <button type="submit" class="add-button">Add Task <i class="fa-solid fa-plus"></i></button>
        <button type="submit" class="delete-button" form="delete-form">Delete Task <i class="fa-solid fa-trash"></i></button>
        </div>
      </form>
      <form action="/delete-task" method="post" class="tasklist-form" id="delete-form">
                <% for(task of tasks_list) { %>
                   
                    <label for="<%=task._id%>" class="tasks-list-section">
                       <input type="checkbox" name="id" id="<%=task._id%>" value="<%=task._id%>" class="task-checkbox">
                        <div class="task-box">
                            <p >
                                <%=task.description%>
                            </p>
                            <p class="taskdue-box">
                                <i class="fa-solid fa-calendar-days task-calender"></i></i> 
                                <span><%= task.dueDate%> </span>
                            </p>
                        </div>
                        <div class="task-list-category">
                            <p>
                                <%=task.category%>
                            </p>
                        </div>

                    </label><br>
                    <%} %>
        </form>
    </div>

  </body>
</html>
